<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<div ng-click="vm.clearAll($event)">
			<a class="navbar-brand" href="#/"><img id="logo"
				src="images/logo.jpg" alt="Freelance Timesheet"></a>
			</div>

		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-click="vm.makeActive($event)" id="newButton"><a href="#/new">New</a></li>
				<li ng-click="vm.makeActive($event)" id="historyButton"><a href="#/history">History</a></li>
				<li ng-click="vm.makeActive($event)" id="reportButton"><a href="#/report">Report</a></li>
			</ul>
		</div>
	</div>
</nav>