<h1 class=' backgrounded bordered'>Timesheet History</h1>
<table id="historyTable" class="table table-bordered table-striped bordered">
	<thead>
   		<tr>
   			<th>Work Item Period</th>
   			<th>Date</th>
   			<th class="fit">Action</th>
   			<th class="fit">Action</th>
   			<th class="fit">Action</th>
   		</tr>
   	</thead>
    <tbody>
    		<tr ng-repeat="workItem in vm.workItems">
    			<td >{{workItem.period}}</td>
    			<td>{{workItem.month + "/" + workItem.day + "/" + workItem.year}}</td>
    			<td ng-click="vm.showWorkItem(workItem.id)"><button  type="button" name="viewButton" class="btn btn-default">View</button></td>
    			<td ng-click="vm.editWorkItem(workItem.id)"><button  type="button" name="editButton" class="btn btn-warning">Edit</button></td>
    			<td ng-click="vm.deleteWorkItem(workItem.id)"><button  type="button" name="deleteButton" class="btn btn-danger">Delete</button></td>
    		</tr>
    	</tbody>
 </table>
<button ng-click="vm.showCreateWorkItemForm()" type="button" id="showCreateWorkItemButton" class="btn btn-success">Add Work Item</button>	
    
 