<h1 class='backgrounded bordered'>Edit Work Item!</h1>
<form name="editWorkItemForm" id="editWorkItemForm">
	<label for="period">Period: </label>
		<input ng-model="vm.workItem.period" id="period" type="number" name="period" min="1"  value={{vm.workItem.period}} required><label>Hours</label><br>
	<label for="rate">Rate: $</label><input ng-model="vm.workItem.rate" id="rate" type="number" name="rate" min="1.00"  step="0.01" value="{{vm.workItem.rate | number : 2}}" required><label>/hr</label><br>
	<label>Date: </label>
		<input ng-model="vm.workItem.month" id="month" type="number" name="month" min="1"  max = "12" value={{vm.workItem.month}} required>
		<input ng-model="vm.workItem.day" id="day" type="number" name="day" min="1"  max="31" value={{vm.workItem.day}} required>
		<input ng-model="vm.workItem.year" id="year" type="number" name="year" min="1"  value={{vm.workItem.year}} required><br>
		<div>
			<label class="vertical-top" for="notes">Notes: </label><textarea ng-model="vm.workItem.notes" id="notes" name="notes" cols="30" rows="3">{{vm.workItem.notes}}</textarea>
		</div>
	<input ng-click="vm.submit()" id="edit" type="submit" name="editWorkItemButton" class="btn btn-warning" value="Submit">
</form>
<!-- 
	// edit button
	var $editButton = $('<input id="edit" type="submit" name="editWorkItemButton" class="btn btn-warning" value="Submit">');
	$form.append($editButton);
//	$createButton.click(function(event) {
	$form.submit(function(event) {
		event.preventDefault();
		if ($(editWorkItemForm.period).val()) {
			
			var mappedWorkItem = {
					period: $(editWorkItemForm.period).val(),
					rate: $(editWorkItemForm.rate).val(),
					month: $(editWorkItemForm.month).val(),
					day: $(editWorkItemForm.day).val(),
					year: $(editWorkItemForm.year).val(),
					notes: $(editWorkItemForm.notes).val()
			};
			// PUT workitems/{id}
			$.ajax({
				type: "PUT",
		        url: 'api/workitems/'+workItem.id,
				dataType: "json",
				contentType: 'application/json', //setting the request headers content-type
				data: JSON.stringify(mappedWorkItem) //the data being added to the request body
			}).done(function(workItem, status) {
			    cleanUpAndAddMainColumn();
				confirmWorkItemEditted(workItem);
			}).fail(function(xhr, status, error) {
			    cleanUpAndAddMainColumn();
				$('#mainColumn').append('<p>An Error has Occured</p>');
				addReturnButton();
			});
		} else {
			$form.prepend('<p>Please enter work item period!</p>');

		}
	});	
 -->